@using WebBanSach.Model
@model IEnumerable<Product>


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2> Product List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="product" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus"></i> Create New Product
            </a>
        </div>
    </div>
    <br /><br />
    <table class="table table-bordered table-striped">
        <thead>
        <th>Product title</th>
        <th>Price</th>
        <th>Category</th>
        <th>Cover Type</th>
        <th>Description</th>
        <th>Author</th>
        <th>Image</th>
         
        <th></th>
        </th>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Title</td>
                    <td>@item.Price50.ToString("C")</td>
                    <td>@item.Price100.ToString("C")</td>
                    <td>@item.Description</td>
                    <td>@item.ISBN</td>
                    <td>@item.CategoryId</td>
                    <td>@item.coverType</td>
                    <td>@item.Author</td>
                    <td>@item.ImageUrl</td>
                    
                    <td>
                        <div>
                            <a class="btn btn-primary" asp-controller="CoverType" asp-action="Edit" asp-route-id=@item.Id>
                                <i class="bi bi-pencil"></i>
                            </a>
                            <a class="btn btn-primary" asp-controller="CoverType" asp-action="Delete" asp-route-id=@item.Id>
                                <i class="bi bi-trash3"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>

    </table>

</div>